.breadcrumb {background: rgba(255, 255, 255, 1); border: 3px solid rgba(42, 0, 250, 1); border-radius: 4px; display: block;}
.breadcrumb li {font-size: 15px;}
.breadcrumb a {color: rgba(0, 136, 255, 1);}
.breadcrumb a:hover {color: rgba(250, 15, 109, 1);}
.breadcrumb>.active {color: rgba(0, 191, 38, 1);}
.breadcrumb>li+li:before {color: rgba(204, 204, 204, 1); content: "\276F\00a0";}